.notFound--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/stars.svg');
  background-color: #1b1b25;
}

.notFound--image {
  height: 67vh;
  width: auto;
  overflow: hidden;
}
