.projects {
  border-radius: 4px;
}

.projects-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project {
  margin-bottom: 2rem;
  background-color: #262525;
  padding: 10px;
}

.project a img {
  margin-top: 1rem;
  max-width: 100%;
  border-radius: 5%;
}
.project-title,
.projects-title {
  color: #ffebcd;
  text-align: center;
  text-transform: capitalize;
}
/* Media tablet */
@media (min-width: 650px) {
  .projects-title {
    font-size: 3.7rem;
    margin-bottom: 13px;
  }
  .project-title {
    margin-bottom: 14px;
    font-size: 2.7rem;
  }
  .project {
    width: 49.5%;
    display: inline-block;
  }
  .projects {
    padding: 50px 0;
  }
  .main--projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
