.main--skills-section {
  text-align: center;
  min-width: 320px;
}
.main--skills-section .skills-section h3 {
  font-size: 2rem;
  text-align: center;
  color: blanchedalmond;
  margin-bottom: 10px;
}
.main--skills-section .skills-list {
  background-color: #272626d9;
  color: blanchedalmond;
  padding: 5px;
  border-radius: 4px;
  list-style: none;
}
.main--skills-section .skills-list li {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  display: inline-grid;
  font-family: "Josefin Sans", sans-serif;
  justify-content: center;
  width: 32%;
  background-color: #1f1f1f;
  margin-bottom: 10px;
  margin-right: 1px;
  height: 100px;
  font-size: 1.4rem;
}
.skills-list li .work_in_team,
.skills-list li .creativity,
.skills-list li .enthusiasm,
.skills-list li .resilience,
.skills-list li .english_b2,
.skills-list li .analytical,
.skills-list li .assertiveness,
.skills-list li .communication,
.skills-list li .french_a2 {
  margin: 0 auto;
  width: 55px;
  height: 55px;
}
.skills-list li .resilience,
.skills-list li .english_b2,
.skills-list li .analytical {
  border-radius: 50px;
}
.skills-list__icon:hover {
  transform: scale(1.5);
}
.skills-list__icon {
  transform: scale(1);
  transition: transform 0.3s;
}

@media (min-width: 650px) {
  .main--skills-section .skills-section h3 {
    font-size: 3.7rem;
    margin-bottom: 13px;
  }
  .skills-list li {
    margin: 0 10px;
  }
}
