.main--tools-section {
  text-align: center;
  width: 100%;
  min-width: 320px;
  padding: 15px;
}
.main--tools-section .tools-section h3 {
  font-size: 2rem;
  text-align: center;
  color: blanchedalmond;
  margin-bottom: 10px;
}
.main--tools-section .tools-list {
  background-color: #272626d9;
  color: blanchedalmond;
  padding: 5px;
  border-radius: 4px;
  list-style: none;
}
.main--tools-section .tools-list li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  background-color: #1f1f1f;
  margin-bottom: 10px;
  margin-right: 1px;
  height: 30px;
}
.main--tools-section .tools-list li p {
  font-size: 1.7rem;
  height: 90%;
  padding: 8px;
}

.github-logo {
  width: 20px;
  height: 20px;
  background-image: url("../img/Tools/github.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gnuplot-logo {
  width: 30px;
  height: 20px;
  background-image: url("../img/Tools/gnuplot_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.codestream-logo {
  width: 20px;
  height: 20px;
  background-image: url("../img/Tools/codestream-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mysql-logo {
  width: 40px;
  height: 20px;
  background-image: url("../img/Tools/mysql-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.react-logo {
  width: 26px;
  height: 23px;
  background-image: url("../img/Tools/react_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.redux-logo {
  width: 20px;
  height: 20px;
  background-image: url("../img/Tools/redux-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.graphql-logo {
  width: 20px;
  height: 18px;
  background-image: url("../img/Tools/graphql.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mongodb-logo {
  width: 23px;
  height: 23px;
  background-image: url("../img/Tools/mongodb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.postgresql-logo {
  width: 25px;
  height: 25px;
  background-image: url("../img/Tools/postgresql.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.express-logo {
  width: 30px;
  height: 30px;
  background-image: url("../img/Tools/express.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.firebase-logo {
  width: 23px;
  height: 23px;
  background-image: url("../img/Tools/firebase.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.typescript-logo {
  width: 20px;
  height: 20px;
  background-image: url("../img/Tools/typescript.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  transform: scale(1);
  transition: transform 0.3s;
}
.logo:hover {
  transform: scale(1.3);
}

@media (min-width: 650px) {
  .main--tools-section {
    width: 49.5%;
    min-width: 320px;
    padding: 15px;
  }
  .main--tools-section .tools-section h3 {
    font-size: 3.7rem;
    margin-bottom: 13px;
  }
  .main--tools-section .tools-list li {
    margin-bottom: 10px;
    margin-right: 1px;
    height: 60px;
  }
  .main--tools-section .tools-list li p {
    font-size: 2.7rem;
  }
  .github-logo {
    width: 40px;
    height: 40px;
  }
  .mysql-logo {
    width: 50px;
    height: 45px;
  }
  .codestream-logo {
    width: 0px;
    height: 0px;
  }
  .gnuplot-logo {
    width: 40px;
    height: 30px;
  }
  .react-logo {
    width: 35px;
    height: 31px;
  }
  .redux-logo {
    width: 36px;
    height: 36px;
  }
  .graphql-logo {
    width: 33px;
    height: 27px;
  }
  .mongodb-logo {
    width: 40px;
    height: 40px;
  }
  .postgresql-logo {
    width: 40px;
    height: 40px;
  }
  .express-logo {
    width: 40px;
    height: 40px;
  }
  .firebase-logo {
    width: 40px;
    height: 40px;
  }
  .typescript-logo {
    width: 30px;
    height: 30px;
  }
}
