* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f1f1f;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #1f1f1f;
  width: 100%;
  min-width: 320px;
}

/* Introduction section */
.main--introduction-section {
  text-align: center;
  min-width: 320px;
}

.main--introduction-section .introduction-container h3 {
  font-size: 2rem;
  text-align: center;
  color: blanchedalmond;
  margin-bottom: 10px;
}
.main--introduction-section .introduction-list li {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.main--introduction-section .introduction-list {
  background-color: #272626d9;
  color: blanchedalmond;
  padding: 5px;
  border-radius: 4px;
  list-style: none;
}



@media (min-width: 650px) {
  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main--introduction-section {
    font-size: 1.8rem;
  }
  .main--introduction-section .introduction-container h3 {
    font-size: 3.7rem;
    margin-bottom: 13px;
  }
  .main--introduction-section .introduction-list li {
    margin-bottom: 14px;
    font-size: 2.7rem;
  }
}

/* Introduction section end */
